# virtualenv
venv/
ENV/
*venv*/
venv*/

#project-specific
.DS_store
.project
.pydevproject
.vscode
.env
.idea
*.iml
*.log
*.csv
*.xlsx
*.json
*.db
*.sqlite
*.zip
*.tar.gz
*.egg-info/
dist/
build/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

    
